<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.rjfun.cordova.plugin.lowlatencyaudio"
      version="1.0">
      
    <name>LowLatencyAudio</name>
	<description>Add low latency audio support to Cordova/PhoneGap apps/games, since HTML5 audio is very poor in mobile browser</description>
	<author>Developed by Andrew Trice, updated by Liming Xie</author>
	<license>MIT</license>
	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/LowLatencyAudio.js" name="LowLatencyAudio">
        <clobbers target="window.plugins.LowLatencyAudio" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LowLatencyAudio">
                <param name="android-package" value="com.rjfun.cordova.plugin.LowLatencyAudio"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/LowLatencyAudio.java" target-dir="src/com/rjfun/cordova/plugin" />
        <source-file src="src/android/LowLatencyAudioAsset.java" target-dir="src/com/rjfun/cordova/plugin" />
        <source-file src="src/android/PolyphonicVoice.java" target-dir="src/com/rjfun/cordova/plugin" />

        <!-- Downloader Library -->
        <source-file src="src/android/downloader/Constants.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/DownloaderClientMarshaller.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/DownloaderServiceMarshaller.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/DownloadProgressInfo.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/Helpers.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/IDownloaderClient.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/IDownloaderService.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/IStub.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/SystemFacade.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/AndroidHttpClient.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/CustomIntentService.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/CustomNotificationFactory.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloaderService.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadInfo.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadNotification.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadsDB.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadThread.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/HttpDateTime.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/V3CustomNotification.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/V14CustomNotification.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />

        <!-- APK Expansion Zip Library -->
        <source-file src="src/android/zipfile/APEZProvider.java"
                     target-dir="src/com/android/vending/expansion/zipfile" />
        <source-file src="src/android/zipfile/APKExpansionSupport.java"
                     target-dir="src/com/android/vending/expansion/zipfile" />
        <source-file src="src/android/zipfile/ZipResourceFile.java"
                     target-dir="src/com/android/vending/expansion/zipfile" />
        
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="LowLatencyAudio">
                 <param name="ios-package" value="LowLatencyAudio" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/LowLatencyAudio.h" />
         <source-file src="src/ios/LowLatencyAudio.m" />
         <header-file src="src/ios/LowLatencyAudioAsset.h" />
         <source-file src="src/ios/LowLatencyAudioAsset.m" />
         
	</platform>
          
</plugin>
